.nav-item {
  font-size: 1rem;
}
.navbar {
  background: linear-gradient(to right, rgb(243 92 238), rgb(10, 103, 180));
}

.navbar-nav.ml-auto > li {
  margin-right: 0.5vw;
}

.nav-link.active {
  border: 2px solid rgba(118, 234, 255, 0.2);
  background: rgba(87, 230, 255, 0.384);

  border-radius: 10px;
  /* background-blend-mode: lighten; */
}
.nav-link {
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  min-width: 6vw;
  transition: 0.5s;
}
.nav-link:hover {
  background: rgba(101, 230, 253, 0.664);
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
