<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"><i class="bi bi-house"></i> Shop Demo</a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <div *ngIf="currentRoute == '/items'" class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            placeholder="Search"
            value=""
            [(ngModel)]="search"
            (keyup)="onInput(search)"
          />
          <div class="input-group-append">
            <button
              (click)="search = ''; onInput('')"
              class="btn btn-default"
              type="submit"
            >
              <i class="bi bi-backspace text-light"></i>
            </button>
          </div>
        </div>
        <!-- Item button -->
        <li *ngIf="role != 'ROLE_OWNER'" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/items']"
            ><i class="bi bi-archive"></i> Items
          </a>
        </li>

        <!-- Cart button -->
        <li *ngIf="role === 'ROLE_CUSTOMER'" class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active"
            ><i class="bi bi-cart"></i> Cart</a
          >
        </li>

        <!-- Order history -->
        <li *ngIf="role === 'ROLE_CUSTOMER'" class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active"
            ><i class="bi bi-card-checklist"></i> Order history</a
          >
        </li>

        <!-- Login button -->
        <li *ngIf="role === null" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/login']"
            >Login</a
          >
        </li>
        <!-- Admin item panel -->
        <li *ngIf="role === 'ROLE_OWNER'" class="nav-item">
          <a
            class="nav-link"
            routerLink="/adminpanel/item"
            routerLinkActive="active"
            ><i class="bi bi-database-fill-gear"></i> Item Panel</a
          >
        </li>
        <!-- Admin order panel -->
        <li *ngIf="role === 'ROLE_OWNER'" class="nav-item">
          <a
            class="nav-link"
            routerLink="/adminpanel/order"
            routerLinkActive="active"
            ><i class="bi bi-clipboard-data-fill"></i> Order Panel</a
          >
        </li>
        <!-- Account dropdown -->
        <li *ngIf="role != null" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            ><i class="bi bi-person-fill"></i> {{ username | titlecase }}
            <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <!-- Logout button -->
            <li class="dropdown-item text-danger">
              <a (click)="logOut()">
                <i class="bi bi-box-arrow-left"></i> LogOut
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Toast -->
<div
  class="position-fixed bottom-0 right-0 p-3"
  style="z-index: 1051; right: 1vw; top: 10vh"
>
  <div
    id="liveToast"
    #liveToast
    class="toast hide"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-delay="2000"
  >
    <div class="toast-header bg-success text-light">
      <i class="rounded mr-2 bi bi-bell-fill"></i>
      <strong id="toastHeader" class="mr-auto">Success</strong>
      <button
        type="button"
        class="ml-2 mb-1 close"
        data-dismiss="toast"
        aria-label="Close"
      >
        <span aria-hidden="true"
          ><i class="bi bi-x-circle-fill" fill="currentColor"></i
        ></span>
      </button>
    </div>
    <div id="toastMessage" class="toast-body">Message</div>
  </div>
</div>
