<div class="justify-content-center">
  <div class="card">
    <div class="card-header text-left">
      <h3>{{ currentRoute | titlecase | translate }}</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-person-square text-light"></i>
            </span>
          </div>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            placeholder="{{ 'Username' | translate }}"
          />
          <div
            *ngIf="submitted && f['username'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['username'].errors['required']">
              {{ 'UsernameRequired' | translate }}
            </div>
            <div *ngIf="f['username'].errors['minlength']">
              {{ 'UsernameMinValid' | translate }}
            </div>
            <div *ngIf="f['username'].errors['maxlength']">
              {{ 'UsernameMaxValid' | translate }}
            </div>
            <div *ngIf="f['username'].errors['isForbidden']">
              {{ 'ForbiddenChar' | translate }}
            </div>
            <div *ngIf="f['username'].errors['usernameNotAvailable']">
              {{ 'UsernameNotAvailable' | translate }}
            </div>
          </div>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-key-fill text-light"></i
            ></span>
          </div>
          <input
            type="Password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            placeholder="{{ 'Password' | translate }}"
          />
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">
              {{ 'PasswordRequired' | translate }}
            </div>
            <div *ngIf="f['password'].errors['minlength']">
              {{ 'PasswordMinValid' | translate }}
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              {{ 'PasswordMaxValid' | translate }}
            </div>
            <div *ngIf="f['password'].errors['isForbidden']">
              {{ 'ForbiddenChar' | translate }}
            </div>
          </div>
        </div>
        <div
          [ngClass]="{ 'd-none': currentRoute !== 'signup' }"
          class="input-group form-group"
        >
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-key-fill text-light"></i
            ></span>
          </div>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f['confirmPassword'].errors
            }"
            placeholder="Confirm password"
          />
          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['confirmPassword'].errors['required']">
              {{ 'ConfirmPassRequired' | translate }}
            </div>
            <div
              *ngIf="
                !f['confirmPassword'].errors['required'] &&
                f['confirmPassword'].errors['unMatching']
              "
            >
              {{ 'ConfirmPassNotMatch' | translate }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            id="loginbtn"
            class="btn btn-primary float-right btn-block p-2 mt-4"
            [ngClass]="{ 'btn-secondary': !form.valid }"
          >
            {{ currentRoute | titlecase | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div
        *ngIf="currentRoute == 'login'; else signup"
        class="d-flex justify-content-center links"
      >
        {{ 'LoginPage.NoAccount' | translate
        }}<a routerLink="/signup">{{ 'Signup' | translate }}</a>
      </div>
      <ng-template #signup>
        <div class="d-flex justify-content-center links">
          {{ 'LoginPage.HaveAccount' | translate
          }}<a routerLink="/login">{{ 'Login' | translate }}</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
