<div class="row justify-content-md-center my-5 pt-5">
  <div class="col col-5">
    <form>
      <!-- Username input -->
      <div class="form-outline form-row mb-4">
        <div class="col-12 mb-4">
          <label class="form-label" for="usernameInput">Username</label>
          <input
            type="text"
            id="usernameInput"
            #usernameInput
            class="form-control"
          />
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline form-row">
        <div class="col-12 mb-4">
          <label class="form-label" for="passwordInput">Password</label>
          <input
            type="password"
            id="passwordInput"
            #passwordInput
            class="form-control"
          />
        </div>
      </div>

      <div class="row mb-4 justify-content-center">
        <div class="col">
          <a>Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button
        type="button"
        class="btn btn-primary btn-block mb-4"
        (click)="onLogin()"
      >
        Sign in
      </button>
      <p class="text-danger d-flex justify-content-center" #invalidFeedback></p>
      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a>Register</a></p>
      </div>
    </form>
  </div>
</div>
