<div class="cart" *ngIf="order != null">
  <div class="title">
    <div class="row">
      <div class="col">
        <h6>
          {{ order.orderDate }} | {{ 'Value' | translate }}:
          {{ total.value | number }} đ
        </h6>
      </div>
      <div class="col align-self-center text-right text-muted">
        {{ total.number }} {{ 'Items' | translate | lowercase }}
      </div>
    </div>
  </div>
  <div
    class="row border-top border-bottom"
    *ngFor="let item of order.orderDetails"
  >
    <div class="row main align-items-center">
      <div class="col-2">
        <img
          class="img-fluid"
          src="https://bizweb.dktcdn.net/100/310/135/files/iphone-13-pink-select-2021.png"
          alt="Item image"
        />
      </div>
      <div class="col-4">
        {{ item.item.name }}
      </div>
      <div class="col-2 text-right">{{ item.item.price | number }}</div>
      <div class="col text-right">x {{ item.quantity }}</div>
      <div class="col-3 text-right">
        {{ item.quantity * item.item.price | number }}đ
      </div>
    </div>
  </div>
</div>
