<div class="card mt-3">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            {{ totalItem }} items
          </div>
        </div>
      </div>
      <div
        class="row border-top border-bottom"
        *ngFor="let item of cart.cartDetails"
      >
        <div class="row main align-items-center">
          <div class="col-md-2">
            <img
              class="img-fluid"
              src="https://images.stockx.com/images/NVIDIA-Founders-GeForce-RTX-4090-24G-Graphics-CardB-Graphics-Card-900-1G136-2530-000.jpg"
              src="https://bizweb.dktcdn.net/100/310/135/files/iphone-13-pink-select-2021.png"
            />
          </div>
          <div class="col-md-4">
            <!-- <div class="row text-muted">Type</div> -->
            <div class="row">{{ item.item.name }}</div>
          </div>
          <div class="col-md-3 text-center">
            <a (click)="onMinus(item.item.id)"><i class="bi bi-dash"></i></a>
            <a class="border" style="cursor: default">{{ item.quantity }}</a>
            <a (click)="onPlus(item.item.id)"><i class="bi bi-plus"></i></a>
          </div>
          <div class="col-md-3 text-right">
            {{ item.item.price * item.quantity | number }} đ
            <a (click)="onDelete(item.id)"> <i class="bi bi-x close"></i></a>
          </div>
        </div>
      </div>

      <div class="back-to-shop">
        <a routerLink="/items"
          ><i class="bi bi-arrow-return-left"></i>
          <span class="text-muted"> Back to shop</span>
        </a>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <div class="col" style="padding-left: 0">ITEMS: {{ totalItem }}</div>
        <div class="col text-right">{{ total | number }} đ</div>
      </div>
      <form>
        <div class="form-group mb-3">
          <select class="select">
            <option selected value="1">Standard-Delivery (Free)</option>
          </select>
        </div>
      </form>
      <div
        class="row"
        style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
      >
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">{{ total | number }} đ</div>
      </div>
      <button
        class="btn checkout-btn btn-success"
        data-toggle="modal"
        data-target="#confirmOrderModal"
        [disabled]="cart.cartDetails.length < 1"
      >
        CHECKOUT
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal"
  id="confirmOrderModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Order</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to confirm this order?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No, take me back
        </button>
        <button type="button" class="btn btn-success" (click)="onCheckout()">
          Confirm order
        </button>
      </div>
    </div>
  </div>
</div>
