<div class="col-2">
  <div class="card mx-3 my-3">
    <div class="product-grid">
      <div class="product-image">
        <a class="image">
          <img
            src="https://bizweb.dktcdn.net/100/310/135/files/iphone-13-pink-select-2021.png"
            alt="Item image"
          />
        </a>
        <a (click)="addToCart()" class="add-to-cart">{{
          'Item.AddToCart' | translate
        }}</a>
      </div>
      <div class="product-content">
        <h3 class="title">
          <a>{{ item.name }}</a>
        </h3>
        <div class="price">{{ item.price | number }} đ</div>
      </div>
    </div>
  </div>
</div>
