<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Order Date</th>
      <th class="text-center" scope="col">Items</th>
      <th class="text-center" scope="col">Value</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col">
        <button
          class="btn btn-primary"
          style="right: 1vw; top: 10vh"
          (click)="onRefresh()"
        >
          Refresh
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let orderRow of orders | filter : 'name' : searchValue : 'includes';
        let i = index
      "
    >
      <th class="text-center" scope="row">{{ orderRow.order.id }}</th>
      <td class="text-center">{{ orderRow.order.orderDate }}</td>
      <td class="text-left pl-3">
        <p *ngFor="let detail of orderRow.order.orderDetails">
          {{ detail.quantity }}x {{ detail.item.name }}
        </p>
      </td>
      <td class="text-right pr-3">{{ orderRow.total.value | number }}đ</td>
      <td
        class="text-center font-weight-bold"
        [ngClass]="{
          'text-success': orderRow.order.completed,
          'text-warning': !orderRow.order.completed
        }"
      >
        {{ orderRow.order.completed ? 'Completed' : 'Pending' }}
      </td>
      <td class="text-center">
        <i
          *ngIf="orderRow.order.completed"
          class="bi bi-check-circle-fill text-success"
        ></i>
        <button
          [hidden]="orderRow.order.completed"
          (click)="onConfirm(orderRow.order.id, i)"
          [ngClass]="{ 'btn-secondary': orderRow.order.completed }"
          class="btn btn-success px-2"
        >
          Complete Order
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div #modal></div>
