/* table.table.table-bordered {
  height: 90vh;
  overflow-y: scroll;
} */

.table thead th {
  background: lightblue;
}
.table tr:hover {
  background: #ffdd9f85;
}
.table td {
  padding: 0.5rem 0.2rem;
}

.btn,
.modal-footer .btn {
  padding: 0;
  margin: 0 1vh;
  min-width: 6vw;
  height: 5vh;
}

td .btn {
  padding: 0;
  margin: 0 1vw;
  min-width: 3vw;
  height: 4vh;
}
.modal .modal-content {
  opacity: 0%;
}
.modal.show .modal-content {
  /* translate: 200px; */
  transform: translate(0, 100px);
  opacity: 100%;
  transition-duration: 500ms;
}

.modal.show {
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.336);
}
.input-group-prepend label {
  width: 80px;
}
