<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col-7">
        <!-- Name -->
        <div class="form-inline input-group-prepend">
          <label for="itemSearch">{{ 'Item.Name' | translate }} </label>
          <input
            class="form-control mr-sm-2"
            type="text"
            id="itemSearch"
            placeholder="{{ 'Search' | translate }}"
            [(ngModel)]="searchValue"
          />
        </div>
      </th>
      <th class="text-center" scope="col-2">{{ 'Item.Price' | translate }}</th>
      <th class="text-center" scope="col-2">
        <button
          class="btn btn-success"
          style="right: 1vw; top: 10vh"
          (click)="onAdd()"
        >
          {{ 'Add' | translate }}
        </button>
        <button
          class="btn btn-primary"
          style="right: 1vw; top: 10vh"
          (click)="onRefresh()"
        >
          {{ 'Refresh' | translate }}
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | filter : 'name' : searchValue : 'includes'">
      <th class="text-center" scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td class="text-right">{{ item.price | number }} đ</td>
      <td class="text-center">
        <button (click)="onEdit(item)" class="btn btn-outline-primary">
          <i class="bi bi-pencil-square"></i></button
        ><button (click)="onDelete(item)" class="btn btn-outline-danger">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div #modal></div>

<div id="addItemModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Item.AddItem' | translate }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          tabindex="-1"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Item.AddInfo' | translate }}</p>
        <form>
          <div class="input-group-prepend">
            <label class="input-group-text" for="nameInput">{{
              'Item.Name' | translate
            }}</label>
            <input
              tabindex="0"
              id="nameInput"
              #nameInput
              class="form-control"
              type="text"
            />
          </div>
          <div class="input-group-prepend my-4">
            <label class="input-group-text" for="priceInput">{{
              'Item.Price' | translate
            }}</label>
            <input
              tabindex="0"
              id="priceInput"
              #priceInput
              (keydown)="onPriceInput($event)"
              min="0"
              class="form-control"
              type="number"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          tabindex="-1"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          (click)="onModalConfirm()"
          tabindex="0"
          type="button"
          class="btn btn-primary"
        >
          {{ 'Save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
